<main>
  <header>
    <h1>Orders</h1>
  </header>
  <section>
      <% @orders.each do |order| %>
        <article>
          <div id="head-title">
            <span><%= order[:agency] %> - <%= order[:campaing_address] %> <%= order[:suburb_name] %></span>
          </div>
          <div class="content-container">
            <% order[:items].each do |item| %>
              <div class="flex-items">
                <%= item[:item_name] %>
                <div>
                  <p><%= item[:status] %></p>
                  <% if item[:item_link] %>
                    <%= link_to 'Download', item[:item_link], class: "download-link"%>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </article> 
      <% end %> 
  </section>
</main>
